body {
  margin: auto;
}
* {
  font-family: 'Roboto', sans-serif;
}


/************ header ************/

header h1 {
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Shrikhand', cursive;
  font-size: 35px;
}

/************ body ************/

.localisation {
  background-color: #eaeaea;
  box-shadow: 0px 0px 5px rgba(206,206,206,255);
  border-top: 2px rgba(213,213,213,255) solid;
  text-align: center;
  padding: 15px 0px;
  margin-left: 10px;
}

input[type=text] {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

input::placeholder {
  color: #353535;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;

}

input:focus {
  outline: none;
}

.localisation i {
  margin-right: 5px;
}
header form {
  padding-top: 15px;
  padding-bottom: 15px;
}

.reserver {
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 40px;
}

.reserver h2, .reserver p {
  text-align: center;
}

.reserver p {
  font-weight: 300;
  padding: 5px;
}

.explorer {
  display: block;
  margin: auto;
  width: 50%;
  padding: 13px 20px;
  border-radius: 50px;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
}

.explorer:hover {
  filter: brightness(1.25);
  box-shadow: 5px 5px 10px indigo;
}

.fonctionnement h2 {
  padding: 0px 20px;
}

.fonctionnement-btn {
  width: 300px;
  text-align: center;
  margin: auto;
  display: flex;
  position: relative;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  background-color: rgb(247, 247, 247);
  box-shadow: 5px 5px 10px rgb(206 206 206);
}

.fonctionnement-btn:hover {
  background-color: #f5edff ;
  box-shadow: 10px 10px 20px rgb(206 206 206);
}

.fonctionnement-btn:hover > i {
  color: #9356dc;
}

.fonctionnement-btn i {
  margin-right: 15px;
  margin-left: 15px;
  color: rgb(126, 126, 126);
}
.fonctionnement-btn .cercle {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  line-height: 20px;
  text-align: center;
  font-size: 0.7em;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(147, 86, 220);
}

.card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 280px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.card img{
  width: 100%;
  object-fit: cover;
  align-self: center;
  border-radius: 20px 20px 0px 0px;
  height: 200px;
}

.restaurant {
  margin-top: 60px;
  padding: 10px 20px 20px 20px;
  background-color: #f7f7f7;
}

.nouveau {
  width: 80px;
  height: 30px;
  right: 55px;
  z-index: 1;
  margin-left: 250px;
  margin-bottom: -50px;
  margin-top: 20px;
  text-align: center;
  line-height: 30px;
  font-size: 1.1em;
  color: rgb(0, 135, 102);
  background-color: rgb(153, 226, 208);
  position: absolute;
}

.restaurant a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.card-bas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}

.card-bas h3, .card-bas p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-bas i {
  font-size: 25px;
}

/************ footer ************/

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
}

footer h2 {
  padding: 0px 20px ;
  margin: 15px 0px 0px 0px;
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
  color:  white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer ul {
  padding: 0px 20px;
  margin: 10px 0px 20px 0px;
}

footer li {
  margin-top: 5px;
  list-style: none;
}

.information {
  display: flex;
  flex-direction: column;
}
