body {
  margin: auto;
  max-width: 400px;
}

/************ header ************/
nav {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}

nav a {
  margin-left: 15px;
}

nav i {
  text-decoration: none;
}

nav img {
  width: 200px;
  margin: auto;

}


/************ body ************/


main img {
  height: auto;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.menu h2 {
  color: #3e3e3e;
  font-size: 1.4em;
  font-weight: 100;
  border-bottom: solid 3px rgba(153,226,208,255);
  width: 45px;
  padding-bottom: 5px;
}

.card-menu {
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  border-radius: 40px 40px 0px 0px;
  margin-top: -45px;

}

.card-menu p {
  margin: 0;
  margin-top: 5px;
  font-size: 0.8em;
  color: #353535;
}

.card-menu h3{
  margin: 0;
  font-size: 1.1em;
}

.menu-flex {
  display: flex;
  justify-content: space-between;

}

.titre {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.btn-menu {
  background-color: #ffffff;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 10px;
}

.menu {
  margin: 20px 20px;
}

.commander {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 30%;
  padding: 13px 20px;
  border-radius: 50px;
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
}
/************ footer ************/

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

footer img {
  width: 100px;
  padding: 0px 20px ;
}

footer a {
  text-decoration: none;
  color: white;
}

footer ul {
  padding: 0px 20px;
}

footer li {
  margin-top: 5px;
  list-style: none;
}

.information {
  display: flex;
  flex-direction: column;
}

